html
{
    background: url('Superbacon Tile Background.jpg');
    background-repeat:repeat;
    background-color:rgba(255, 0, 0, 0.5);
}

.Page
{
    width:1000px;
    margin-left:auto; 
    margin-right:auto;
    padding: 5px;
    font: 18px Comic Sans MS, Arial, Helvetica;
}

.LeftMenuBar
{
    width: 190px;
    min-height:617px;
    padding-left:5px;
    border: double 3px #DD1F22;
    background-color:White;
    float:left;
}

.MainContentArea
{
    width:790px;
    float:right;
}

header
{
    height:103px;
    background-color: white;
    text-align:center;
    border: double 5px black;
}

section.Default,
section.Pig,
section.Hippy
{
    margin-top:15px;
    min-height: 100px;
    border: double 5px black;
    background-color:White;
    padding: 10px;
}

section.Pig
{
    background-image: url('JDs_wingedLogo Fade_Background.jpg');
    background-repeat:no-repeat;
    background-position:center;
    min-height: 181px;
}

section.Pig > a
{
    text-decoration:none !important;
    color:Black !important;
}
section.Hippy
{
    background-image: url('Hippy Faded_background.jpg');
    background-repeat:no-repeat;
    background-position:center;
    min-height: 500px;
}
.ClearFloats
{
    clear:both;
}

footer 
{
    margin-top: 20px;
}

.LevelConceptMap
{
    width:100%;
    height:275px;
}

.LevelConceptMap img
{
    width:250px;
}
.CharacterConceptMap img
{
    width:180px;
}
